#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

.design{
  margin-bottom: 15px;
}

.btn{
  width: 120px;
  margin: 0 auto 0 auto;
  background-color: brown;
  text-decoration: none;
  border: none;
  padding: 10px;
  border-radius: 30px;
  font-weight: bold;
  font-size: 1rem;
  color: white;
}

.h1{
  font-size: large;
  font-weight: bold;
}
